*.ckpt
*.pt
*.ipynb_checkpoints

.vscode
libtorch/
**/data/*
**/train_data/*
lightning_logs/
notes
*.csv
test/csv_files
results.csv
results*
browse.vc.db
.idea/
test_trochoids*
*.m~
build

__pycache__
*.pyc
*.png
!img/*.png
*.svg
